.container
  .row
    .col-md-6
      %h2 Search For Company or Index
      = form_tag search_path, {method: :post, class: "form-inline custom-search-form", remote: true} do
        .form-group
          = text_field_tag :query, params[:query], placeholder: "ticker symbol", class: "form-control form-inline"
          = submit_tag "Search", class: "btn btn-primary form-inline"
    .col-md-6.comments
      %h3.text-center Does twitter know what is going on in your portfolio before you?
