%ul.list-group#twitter-list
  - if defined?(tweets)
    - tweets['data'].each do |tweet|
      %li.list-group-item{class: sentiment_class(tweet[0][:sentiment])}
        = tweet[0][:text]
  - else
    %li.list-group-item Get Tweets about your stock
